# HW

Мои Фамилия Имя: Прокопенко Ирина

In [71]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [72]:
df_titanic = pd.read_csv('titanic.csv')

In [73]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [74]:
df_titanic.shape

(891, 12)

In [75]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [76]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [77]:
columns = ['Sex', 'Age', 'Pclass', 'Survived']

In [78]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[500:]

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [79]:
simple_train = simple_train.fillna(0)
simple_test = simple_test.fillna(0)
# можно inplace делать такое, а можно переприсваивать.

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [80]:
change= lambda x: 0 if x == "male" else 1
simple_train.Sex = simple_train.Sex.apply(change)
simple_test.Sex = simple_test.Sex.apply(change)

##### Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [81]:
X_train = simple_train[['Sex','Age','Pclass']].values
X_test = simple_test[['Sex','Age','Pclass']].values
y_train = simple_train['Survived'].values
y_test = simple_test['Survived'].values

In [82]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [83]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [84]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [85]:
class KNN:
    """
    simple KNN classifier with O(n) complexity for memory,
    and O(n log n) complexity - for nn search.
    """
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for peremennie in X:
            ### Посчитаем расстояние от всех элементов в тренировочной выборке
            # до текущего примера -> результат - вектор размерности трейна
            d = 0
            for i, elem in enumerate(peremennie):
                d += (self.X[:,i]-elem)**2
            d = np.sqrt(d)
            ### Возьмем индексы n элементов, расстояние до которых минимально
            ### результат -> вектор из n элементов
            idx = np.argsort(d)[:self.n]
            ### Посчитаем частоту меток для каждого случая 
            ### результат -> вектор длинны 2 который покажет
            ### сколько соседей 0-го класса, сколько соседей 1-го класса.
            count = np.bincount(self.y[idx])
            ### возьмем самый часто встречаемый в соседях класс.
            prediction = np.argmax(count)
            y_hat.append(prediction)
        return np.array(y_hat)

In [86]:
knn = KNN(5)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [87]:
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.7698209718670077

In [88]:
np.unique(y_pred)

array([0, 1])

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [89]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.7698209718670077

In [90]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.7647058823529411

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!

In [91]:
col = ['Sex', 'Age', 'Pclass', 'Survived','Cabin','Fare','Embarked']

In [92]:
train = df_titanic[col].loc[:500]
test = df_titanic[col].loc[500:]

In [93]:
train = train.fillna(0)
test = test.fillna(0)

In [94]:
changeS= lambda x: 2 if x == "male" else 1
train.Sex = train.Sex.apply(changeS)
test.Sex = test.Sex.apply(changeS)


train.Cabin = train.Cabin.apply(lambda x: x[0] if type(x) == str else 0)
test.Cabin = test.Cabin.apply(lambda x: x[0] if type(x) == str else 0)
changeC=lambda x: int(x, 32) if x != 0 else 0
train.Cabin = train.Cabin.apply(changeC)
test.Cabin = test.Cabin.apply(changeC)

changeE=lambda x: 0 if x==0 else int(x.replace(' ', ''),36)
train.Embarked = train.Embarked.apply(changeE)
test.Embarked = test.Embarked.apply(changeE)

In [95]:
from sklearn.model_selection import train_test_split
Xtrain = train[['Sex', 'Age', 'Pclass','Cabin','Fare','Embarked']]
#Xtest = test[['Sex', 'Age', 'Pclass','Cabin','Fare','Embarked']]
ytrain = train['Survived'].values
#ytest = test['Survived']

Xtrain, Xtest, ytrain, ytest = train_test_split(Xtrain, ytrain, test_size=0.2, random_state=1)
Xtrain, Xval, ytrain, yval = train_test_split(Xtrain, ytrain, test_size=0.2, random_state=1)

In [96]:
meanv = Xtrain.mean()
standartv = Xtrain.std()

Xtrain = ((Xtrain - meanv) / standartv).values
Xtest = ((Xtest - meanv) / standartv).values
Xval = ((Xval - meanv) / standartv).values

In [97]:
best = float(0)
b = 0
kontainer = {}
AMOUNT = 20
for i in range(1, AMOUNT):
    knn = KNN(i)
    knn.fit(Xtrain, ytrain)
    ypred = knn.predict(Xval)
    kon = np.mean(ypred == yval)
    print("точность для {} попытки:".format(i), kon)
    kontainer[i] = kon
    if kontainer[i] > best:
        best = kontainer[i]
        b = i

точность для 1 попытки: 0.7625
точность для 2 попытки: 0.7375
точность для 3 попытки: 0.7875
точность для 4 попытки: 0.7625
точность для 5 попытки: 0.75
точность для 6 попытки: 0.7375
точность для 7 попытки: 0.7625
точность для 8 попытки: 0.7625
точность для 9 попытки: 0.7625
точность для 10 попытки: 0.75
точность для 11 попытки: 0.725
точность для 12 попытки: 0.75
точность для 13 попытки: 0.7625
точность для 14 попытки: 0.75
точность для 15 попытки: 0.7125
точность для 16 попытки: 0.75
точность для 17 попытки: 0.7375
точность для 18 попытки: 0.7625
точность для 19 попытки: 0.75

In [99]:
knn = KNN(bestn)
knn.fit(Xtrain, ytrain)
ypred = knn.predict(Xval)
acc = np.mean(ypred == yval)
print("best ever точность {} :".format(bestn), acc)

best ever точность 3 : 0.7875